#my-input {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 4px;
    color: #555;
    font-size: 16px;
    height: 40px;
    padding: 0 10px;
    width: 18.5rem;
}

#my-input:focus {
    border-color: blue;
    outline: none;
}