#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

#login-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    gap: 1rem;
    background-color: #fff;
    height: 80%;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    gap: 1rem;
}

#login-title {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: #000;
}

#erro {
    color: #f00;
    font-size: 1rem;
    font-weight: 300;
}
